@font-face {
  font-family: "Nunito";
  src: url(fonts/Nunito.ttf);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Nunito";
}

:root {
  --color1: #0d2743;
  --color2: #b26fe3;
  --color3: rgba(178, 111, 227, 0.4);
}

html,
body {
  background-color: var(--color1);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color2);
}

#app {
  display: flex;
  flex-flow: row wrap;
  width: 340px;
  cursor: crosshair;
}

.cube {
  margin: 2px;
  outline: var(--color3) 1px solid;
  width: 30px;
  height: 30px;
  transition: 0.5s ease-in-out;
}

#logo {
  position: fixed;
  top: 0;
  right: 0;
  cursor: default;
  padding: 5px;
  font-size: 20px;

  background: -webkit-linear-gradient(var(--color3) 49%, var(--color2) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#score {
  font-size: 16px;
  padding: 5px;
  position: fixed;
  top: 4px;
  right: 95px;
}

.ico {
  width: 32px;
  margin: 5px;
  cursor: pointer;
  transition: 0.4s ease-in;
}

.ico:hover {
  filter: drop-shadow(0 0 2px var(--color2));
}

.removeAll-ico {
  position: fixed;
  top: 79px;
  right: 5px;
}

/* Settings */
.settings-wrap {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 5px;
  transform: translateX(100%);
  transition: ease-in 0.4s;
}

.settings-wrap-active {
  transform: translateX(0);
}

.settings-ico {
  position: fixed;
  right: 0;
  bottom: 0;
}

.settings-ico-active {
  right: 232px;
}
/*  */
/* Left */
.open-left-btn {
  position: fixed;
  top: 37px;
  right: 5px;
}

.left-menu-wrapper {
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: ease-in 0.4s;
}

.left-menu-wrapper-active {
  transform: translateX(0);
}

.art-select {
  border: 1px dashed var(--color2);
  margin: 5px 0;
  padding: 5px;
  cursor: pointer;
  transition: ease-in 0.2s;
}

.art-select:hover {
  text-shadow: 0 0 7px var(--color2);
}
/*  */
.text-reset {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.text-reset:hover {
  text-shadow: 1px 1px 5px var(--color2);
  text-decoration: line-through;
}

.number-input {
  background: transparent;
  border: none;
  color: var(--color2);
  border: 1px dashed var(--color2);
  padding: 5px;
  font-size: 18px;
}

input:focus,
input:active {
  outline: none;
}

.settings-input-cont {
  padding: 5px 0;
}
